# Pandas

### Question 1: Why use Pandas?

## 1. Simple Data Structure

* Element
* 1D-List
* 2D-List
* Multi-Dimentional List

## 2. Installation & Import

In [55]:
pip install pandas

Requirement already satisfied: pandas in d:\python\lib\site-packages (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\python\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in d:\python\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in d:\python\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in d:\python\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (d:\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\python\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\python\lib\site-packages)

In [56]:
import pandas as pd

## 3. Create

* Series
* DataFrame
* Index

### Series

pandas.Series(data=None, index=None, name=None)
* data: array-like, Iterable, dict, or scalar value
* index: array-like or Index object
* name: str

In [57]:
ls_1 = ['a','b','c','d','e']
ls_2 = [1,2,3,4,5]
dic_1 = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}

s1 = pd.Series(ls_1)
s2 = pd.Series(ls_2)
s3 = pd.Series(dic_1)

print(s1)
print(s2)
print(s3)

0    a
1    b
2    c
3    d
4    e
dtype: object
0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    3
d    4
e    5
dtype: int64

### Question 2: 
### Why does the first column have different values?

### DataFrame
pandas.DataFrame(data=None, index=None, columns=None)
* data: ndarray, Iterable, dict or DataFrame
* index: array-like or Index object
* columns: array-like or Index object

In [58]:
df1 = pd.DataFrame(data = ls_1)
df2 = pd.DataFrame(data = ls_2)
# df3 = pd.DataFrame(data = dic_1)

print(df1)
print("\n")
print(df2)
print("\n")
# print(df3)

   0
0  a
1  b
2  c
3  d
4  e


   0
0  1
1  2
2  3
3  4
4  5

In [59]:
dic_2 = {'a':[1], 'b':[2], 'c':[3], 'd':[4], 'e':[5]}
df4 = pd.DataFrame(data = dic_2)

print(df4)

   a  b  c  d  e
0  1  2  3  4  5

In [60]:
df5 = pd.DataFrame(data = [s1, s2])
print(df5)

   0  1  2  3  4
0  a  b  c  d  e
1  1  2  3  4  5

In [61]:
df6 = df5.transpose()
print(df6)

   0  1
0  a  1
1  b  2
2  c  3
3  d  4
4  e  5

### Index
* reindex()
* reset_index()

In [62]:
print(s1)
print(s1.index)
print("\n")

print(s2)
print(s2.index)
print("\n")

print(s3)
print(s3.index)
print("\n")

0    a
1    b
2    c
3    d
4    e
dtype: object
RangeIndex(start=0, stop=5, step=1)


0    1
1    2
2    3
3    4
4    5
dtype: int64
RangeIndex(start=0, stop=5, step=1)


a    1
b    2
c    3
d    4
e    5
dtype: int64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [63]:
print(df1)
print(df1.index)
print('\n')

print(df2)
print(df2.index)
print('\n')

# print(df3)
# print(df3.index)
# print('\n')

print(df4)
print(df4.index)
print('\n')

print(df5)
print(df5.index)

   0
0  a
1  b
2  c
3  d
4  e
RangeIndex(start=0, stop=5, step=1)


   0
0  1
1  2
2  3
3  4
4  5
RangeIndex(start=0, stop=5, step=1)


   a  b  c  d  e
0  1  2  3  4  5
RangeIndex(start=0, stop=1, step=1)


   0  1  2  3  4
0  a  b  c  d  e
1  1  2  3  4  5
RangeIndex(start=0, stop=2, step=1)

In [64]:
index_1 = ['very good','good','medium','bad','very bad']
df1.index = index_1
print(df1)

           0
very good  a
good       b
medium     c
bad        d
very bad   e

In [65]:
index_1.append('extreme bad')
print(index_1)
df1 = df1.reindex(index_1)
print(df1)

['very good', 'good', 'medium', 'bad', 'very bad', 'extreme bad']
               0
very good      a
good           b
medium         c
bad            d
very bad       e
extreme bad  NaN

In [66]:
df1.reset_index()
df1 = df1.reset_index()
print(df1)

         index    0
0    very good    a
1         good    b
2       medium    c
3          bad    d
4     very bad    e
5  extreme bad  NaN

In [67]:
df1.columns = ['col1','col2']
print(df1)

          col1 col2
0    very good    a
1         good    b
2       medium    c
3          bad    d
4     very bad    e
5  extreme bad  NaN

## 4. Delet
df.drop(axis=0, index=None, columns=None, inplace=False)
* axis: {0 or ‘index’, 1 or ‘columns’}, default 0
* index: single label or list-like
* columns: single label or list-like
* inplace: bool, default False

In [68]:
print(df1)

          col1 col2
0    very good    a
1         good    b
2       medium    c
3          bad    d
4     very bad    e
5  extreme bad  NaN

In [69]:
df1.drop(df1.index[1:3])

          col1 col2
0    very good    a
3          bad    d
4     very bad    e
5  extreme bad  NaN

In [70]:
df1.drop(columns = ['col1'])

  col2
0    a
1    b
2    c
3    d
4    e
5  NaN

## 5. Read

### 1-D

In [71]:
df1.col2

0      a
1      b
2      c
3      d
4      e
5    NaN
Name: col2, dtype: object

In [72]:
df1[0:3]

        col1 col2
0  very good    a
1       good    b
2     medium    c

In [73]:
df1.iat[0,1]

'a'

In [74]:
df1.at[1,'col1']

'good'

### 2-D

In [75]:
df1.head()

        col1 col2
0  very good    a
1       good    b
2     medium    c
3        bad    d
4   very bad    e

In [76]:
df1.tail()

          col1 col2
1         good    b
2       medium    c
3          bad    d
4     very bad    e
5  extreme bad  NaN

In [77]:
df1.loc[1]

col1    good
col2       b
Name: 1, dtype: object

In [78]:
df1.loc[:,'col2']

0      a
1      b
2      c
3      d
4      e
5    NaN
Name: col2, dtype: object

In [79]:
df1.iloc[0:4,1]

0    a
1    b
2    c
3    d
Name: col2, dtype: object

In [80]:
df1[df1.col1 == 'bad']

  col1 col2
3  bad    d

## 6. Update

### Merge
* Concat
* Join
* Append
* Insert

In [81]:
print(df1)
print('\n')
print(df2)

          col1 col2
0    very good    a
1         good    b
2       medium    c
3          bad    d
4     very bad    e
5  extreme bad  NaN


   0
0  1
1  2
2  3
3  4
4  5

In [82]:
df2.columns = ['col3']
df1_2 = pd.concat([df1,df2],ignore_index = True)
print(df1_2)

           col1 col2  col3
0     very good    a   NaN
1          good    b   NaN
2        medium    c   NaN
3           bad    d   NaN
4      very bad    e   NaN
5   extreme bad  NaN   NaN
6           NaN  NaN   1.0
7           NaN  NaN   2.0
8           NaN  NaN   3.0
9           NaN  NaN   4.0
10          NaN  NaN   5.0

In [83]:
df1_2 = df1.join(df2)
print(df1_2)

          col1 col2  col3
0    very good    a   1.0
1         good    b   2.0
2       medium    c   3.0
3          bad    d   4.0
4     very bad    e   5.0
5  extreme bad  NaN   NaN

In [84]:
df4 = df4.transpose()
print(df4)

   0
a  1
b  2
c  3
d  4
e  5

In [85]:
df1_4 = df1.join(df4)
print(df1_4)

          col1 col2   0
0    very good    a NaN
1         good    b NaN
2       medium    c NaN
3          bad    d NaN
4     very bad    e NaN
5  extreme bad  NaN NaN

In [86]:
print(df2)
print('\n')
print(df4)

   col3
0     1
1     2
2     3
3     4
4     5


   0
a  1
b  2
c  3
d  4
e  5

In [87]:
df2_4 = df2.append(df4,ignore_index = True)
print(df2_4)

   col3    0
0   1.0  NaN
1   2.0  NaN
2   3.0  NaN
3   4.0  NaN
4   5.0  NaN
5   NaN  1.0
6   NaN  2.0
7   NaN  3.0
8   NaN  4.0
9   NaN  5.0

C:\Users\86186\AppData\Local\Temp\ipykernel_20204\1502218331.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2_4 = df2.append(df4,ignore_index = True)

In [88]:
df4.columns = ['col3']
df2_4 = df2.append(df4,ignore_index = True)
print(df2_4)

   col3
0     1
1     2
2     3
3     4
4     5
5     1
6     2
7     3
8     4
9     5

C:\Users\86186\AppData\Local\Temp\ipykernel_20204\1799818910.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2_4 = df2.append(df4,ignore_index = True)

In [89]:
df4.insert(1,'1',[6,7,8,9,10])
print(df4)

   col3   1
a     1   6
b     2   7
c     3   8
d     4   9
e     5  10

## Grouping
* groupby

In [90]:
print(df1_4)

          col1 col2   0
0    very good    a NaN
1         good    b NaN
2       medium    c NaN
3          bad    d NaN
4     very bad    e NaN
5  extreme bad  NaN NaN

In [91]:
df1_4.iloc[5,1] = 'b'
print(df1_4)

          col1 col2   0
0    very good    a NaN
1         good    b NaN
2       medium    c NaN
3          bad    d NaN
4     very bad    e NaN
5  extreme bad    b NaN

In [120]:
df1_4.groupby('col2').apply(display)

        col1 col2   0
0  very good    a NaN

          col1 col2   0
1         good    b NaN
5  extreme bad    b NaN

     col1 col2   0
2  medium    c NaN

  col1 col2   0
3  bad    d NaN

       col1 col2   0
4  very bad    e NaN

Empty DataFrame
Columns: []
Index: []

### Nan Value
* df.dropna(axis, how, inplace)
* df.fillna(value, method, axis, implace)

In [93]:
print(df1)

          col1 col2
0    very good    a
1         good    b
2       medium    c
3          bad    d
4     very bad    e
5  extreme bad  NaN

In [94]:
df1.dropna(axis = 1, how ='any')

          col1
0    very good
1         good
2       medium
3          bad
4     very bad
5  extreme bad

In [95]:
print(df1)

          col1 col2
0    very good    a
1         good    b
2       medium    c
3          bad    d
4     very bad    e
5  extreme bad  NaN

In [96]:
df1.fillna(method = 'pad',axis = 1)

          col1         col2
0    very good            a
1         good            b
2       medium            c
3          bad            d
4     very bad            e
5  extreme bad  extreme bad

## TimeSeries
* pd.to_datetime()
* pd.resample()

### pd.to_datetime()

In [97]:
s1 = '3/11/2000'
pd.to_datetime(s1)

Timestamp('2000-03-11 00:00:00')

In [98]:
pd.to_datetime(s1, format = '%d/%m/%Y')

Timestamp('2000-11-03 00:00:00')

In [99]:
ls4 = ['2000/1/20','2000/1/21','2000/1/22','2000/1/23','2000/1/24','2000/1/25']

In [100]:
s4 = pd.Series(ls4)
print(s4)

0    2000/1/20
1    2000/1/21
2    2000/1/22
3    2000/1/23
4    2000/1/24
5    2000/1/25
dtype: object

In [101]:
df1_5 = df1.merge(s4.rename('col3'),left_index = True, right_index= True)

In [102]:
df1_5['col3'] = pd.to_datetime(df1_5['col3'],format = "%Y/%M/%d")
print(df1_5)

          col1 col2                col3
0    very good    a 2000-01-20 00:01:00
1         good    b 2000-01-21 00:01:00
2       medium    c 2000-01-22 00:01:00
3          bad    d 2000-01-23 00:01:00
4     very bad    e 2000-01-24 00:01:00
5  extreme bad  NaN 2000-01-25 00:01:00

In [103]:
df1_5['col3'] = df1_5['col3'].dt.date

In [104]:
print(df1_5)

          col1 col2        col3
0    very good    a  2000-01-20
1         good    b  2000-01-21
2       medium    c  2000-01-22
3          bad    d  2000-01-23
4     very bad    e  2000-01-24
5  extreme bad  NaN  2000-01-25

### df.resample()

In [105]:
date_rng = pd.date_range("1/20/2000",freq = "D", periods = 100)

In [106]:
ts = pd.Series(range(0,100),index = date_rng)
print(ts)

2000-01-20     0
2000-01-21     1
2000-01-22     2
2000-01-23     3
2000-01-24     4
              ..
2000-04-24    95
2000-04-25    96
2000-04-26    97
2000-04-27    98
2000-04-28    99
Freq: D, Length: 100, dtype: int64

In [107]:
ts.resample('Q').mean()

2000-03-31    35.5
2000-06-30    85.5
Freq: Q-DEC, dtype: float64

In [108]:
ts.resample('H').bfill()

2000-01-20 00:00:00     0
2000-01-20 01:00:00     1
2000-01-20 02:00:00     1
2000-01-20 03:00:00     1
2000-01-20 04:00:00     1
                       ..
2000-04-27 20:00:00    99
2000-04-27 21:00:00    99
2000-04-27 22:00:00    99
2000-04-27 23:00:00    99
2000-04-28 00:00:00    99
Freq: H, Length: 2377, dtype: int64